html, body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  background-color:azure; 
}
body {
  display:flex;
  flex-direction: column;
  font: 13px Verdana;
  padding-left: 100px;
}
.arc{
cursor: pointer;
}
.arc path {
stroke: #000;
}
div{
text-align: center;
}
/* @TODO Update ch. 1 to remove axis stylings(?) and add font decs */
h1>text{
  font: 20px Verdana;
  font-weight:500;
}
text {
  font: 14px Verdana;
}
